{% extends 'base.html' %}
{% load static %}

{% block title %}
    Zaloguj
{% endblock %}

{% block container %}
    <section class="login-page">
        <h2>Zaloguj się</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form%}
            <div class="form-group">
                {{ field }}
            {% if field.name == 'password' %}
                <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
            {% endif %}
            </div>
            {% endfor %}

            <div class="form-group form-group--buttons">
                <a href="{% url 'donations:register' %}" class="btn btn--without-border">Załóż konto</a>
                <button class="btn" type="submit">Zaloguj się</button>
            </div>
        </form>
    </section>
{% endblock %}
