{% extends 'base.html' %}

{% block title %}
 Profil {{ user.name }}
{% endblock %}

{% block container %}
    <section>
        <div>
            <h2>{{ user.first_name }} {{ user.last_name }}
                <p>{{ user.email }}</p>
            </h2>
        </div>
        <div class="container">
            <table>
                    <tr>
                        <th>Instytucja</th>
                        <th>Ilość</th>
                        <th>Data odbioru</th>
                        <th>Kategoria/e</th>
                        <th>Status</th>
                    </tr>
                {% for donation in donations %}
                    <tr {% if donation.is_taken == True %}style="color: silver"{% endif %}>
                        <td>{{ donation.institution }}</td>
                        <td>{{ donation.quantity }}</td>
                        <td>{{ donation.picup_date }}</td>
                        <td>
                            <ul>
                                {% for category in donation.categories.all %}
                                    <li>{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% if donation.is_taken == False %}
                        <td>
                            <a href="{% url 'donations:donation_taken' donation.id %}">
                                <input type="submit" value="Oznacz jako odebrany" data-id="{{ donation.id }}">
                            </a>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}